/* ==========
GOOGLE FONTS
========== */
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=PT+Mono&display=swap');

/* ==========
GENERAL
========== */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
  
html {
  height: 100%;
  scroll-padding-top: 4rem;
}
  
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Cousine", serif;
}

h1 {
  margin: 40px 0 10px 0;
  font-family: 'PT Mono', monospace;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000 !important;
}

a:hover {
  color: grey !important;
}

/* ==========
NAVBAR
========== */

.navbar {
  background-color: #DCDCDC !important;
}

.navbar-text {
  font-weight: 800;
}

/* ==========
MAIN CONTENT
========== */

.container {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.hero-image {
  width: 40vmin;
  height: auto;
  padding-top: 1rem;
}

.about-headder {
  margin-top: 10px !important;
}

#video-column {
  margin: auto;
  padding: 10px 0 10px 0;
}

iframe {
  width: 95%;
  aspect-ratio: 16 / 9;
}

#facilitating-images {
  margin-bottom: 20px;
}

#facilitating-image {
  padding: 15px 5px 10px 5px;
}

/* ==========
CONTACT
========== */

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

li {
  margin-right: 20px;
}

/* ==========
FOOTER
========== */
footer {
  background-color:whitesmoke;
}

.footer-container {
  justify-content: left !important;
  align-items: left !important;
  text-align: left !important;
}

#contact-header {
  margin-top: 20px !important;
}
